@using System.Configuration
@model B2CTouresBalon.Models.PromocionesModel
@{
    ViewBag.Title = "Home Page";
}


<!-- Carousel -->
<div id="Promotions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        @{
            if (Model.Promociones != null)
            {
                var i = 0;
                foreach (var itemClass in Model.Promociones.Select(producto => i++ == 0 ? "active" : ""))
                {
                    <li data-target="#Promotions" data-slide-to="@i" class="@itemClass"></li>
                }
            }
        }
    </ol>
    <div class="carousel-inner" role="listbox">
        @{
            if (Model.Promociones != null)
            {
                var j = 0;
                foreach (var producto in Model.Promociones)
                {
                    var url = ConfigurationManager.AppSettings.Get("urlImages") + producto.imagen_producto + ".jpg";
                    var itemClass = j++ == 0 ? "item active" : "item";
                    <div class="@itemClass">
                        <img class="first-slide" src="@url" alt="slide">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>@producto.espectaculo</h1>
                                <h5>
                                    <a href="@Url.Action("Details", "Product", new {idProducto = producto.id_producto})" class="elements"><span class="text-justify">Detalles</span></a>
                                </h5>
                                <h5>
                                    @Html.ActionLink("Add to Cart", "AddItem", "ShoppingCart", new { idProducto = producto.id_producto, cantidad = 1 }, null)
                                </h5>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
    <a class="left carousel-control" href="#Promotions" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#Promotions" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<hr />
@{  if (Model != null)
    {
        using (Html.BeginForm("Index", "Product", FormMethod.Get))
        {
            Model.Page = 1;
            <form class="form-inline">
                <div class="form-group">
                    @Html.HiddenFor(model => model.Page)
                    @Html.TextBox("SearchString")
                    <button type="submit" class="btn btn-primary">Search Product</button>
                </div>
            </form>
        }
    }
}