@model B2CTouresBalon.Models.CheckoutModel

@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CheckoutModel</h4>
        <hr/>
        <div class="form-group">
            @Html.LabelFor(model => model.Cliente.nombres, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cliente.nombres, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Cliente.nombres, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cliente.apellidos, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cliente.apellidos, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Cliente.apellidos, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cliente.direccion, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cliente.direccion, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Cliente.direccion, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cliente.email, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cliente.email, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Cliente.email, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cliente.tipo_tarjeta, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cliente.tipo_tarjeta, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Cliente.tipo_tarjeta, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cliente.numero_tarjeta, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cliente.numero_tarjeta, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Cliente.numero_tarjeta, "", new {@class = "text-danger"})
            </div>
        </div>



        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Index", "Index", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
