@model B2CTouresBalon.ServiceOrdenes.Orden
<hr/>
<h1>Detalle orden @ViewBag.IdOrden</h1>

@Html.AntiForgeryToken()

<h4>@Model.id_orden</h4>
<h3>@Model.comentarios</h3>
<h3>Precio $@Model.precio</h3>
<hr />
<table class="table table-stripped">
    <thead>
        <tr>
            <th>Id Item</th>
            <th>Id Producto</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model.item != null)
            {
                foreach (var ite in Model.item)
                {
                    <tr>
                        <td>@ite.id_item </td>
                        <td>@ite.id_prod</td>
                        <td>@ite.nombre_prod</td>
                        <td>@ite.cantidad</td>
                        <td>@ite.precio.ToString("###,##0")</td>
                    </tr>
                }
            }
        }

        @Html.ActionLink("Ir al Home", "Index", "Home")

    </tbody>


</table> 